<%= link_to("Branches",{:controller=>'branches',:action=>'index'},:class=>'action index')%>
<h1>New Branch</h1>

<%= form_for(:branch, :url=>{:action=>'create'},:multipart=>true) do |f| %>
<%= render(:partial => "form",:locals=>{:f=>f})%>
<div class="form-buttons">
  <%= submit_tag("Create Branch")%>
</div>
<% end %>