
<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
<%= link_to("Pages",{:controller=>'pages',:action=>'index'},:class=>'action pages index')%>
<%= link_to("Posts",{:controller=>'posts',:action=>'index'},:class=>'action posts index')%>
<%= link_to("Restaurants",{:controller=>'restaurants',:action=>'index'},:class=>'action restaurants index')%>
<%= link_to("Settings",{:action=>'settings'},:class=>'action settings')%>
