<div class="container-fluid content">

<div class="breadcrumb">Dashboard<% if user_signed_in? %>
      <strong> | <%= current_user.name %></strong>
      <% end %><strong> | <%= link_to("Make A Reservation",{:controller=>'main',:action=>'index'},:class=>'action index')%>
</strong></div>


</div>
