
    <h1>Memebership Change Request</h1>
    <p>
      <%= @user.name %> have requested to upgrade his/her membership to restaurant owner
      Email : <%= @user.email %>
      Membership No.  <%= @user.membership %>
    </p>
    
   
 