
    <h1>Welcome to <%= Setting.first.title %>, <%= @user.name %></h1>
    <p>
      You have successfully signed up to <%= Setting.first.title %> ,
      your username is: <%= @user.email %>.<br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
 