<%= link_to("Restaurants",{:controller=>'restaurants',:action=>'index'},:class=>'action index')%>
<h1>New Restaurant</h1>

<%= form_for(:restaurant, :url=>{:action=>'create'},:multipart=>true) do |f| %>
<%= render(:partial => "form",:locals=>{:f=>f})%>
<div class="form-buttons">
  <%= submit_tag("Create Restaurant")%>
</div>
<% end %>