@font-face {
    font-family: "ostrich";
    src: url("BebasNeue Light.otf");
}
@font-face {
    font-family: "ostrich-black";
    src: url("BebasNeue Regular.otf");
}
body{
	font-family:  "ostrich";
	font-size: 20px;
	background-image: url("bg-overlay.png");

}
.datepicker.dropdown-menu{
	z-index: 999999999 !important;
}
*{
	outline: 0 !important;
}
.row,.container-fluid{
		margin:0;
		padding:0;
	}
a,a:hover,a:focus{
	color:white;
	border: none;

	cursor: pointer;
}
.tab-content{
	margin-top: 10px;
}
.tab-controls{
	font-size:45px;
	text-align: center;
}
.tab-button{
	padding:0;
}
.tab-controls > li + li{
	
	
	margin: 0; 
	
}
.tab-controls > li + li > a{
	
	
	margin-left: 5px; 
	margin-right:0px;
	
}
.tab-controls > li > a{
	color:#1d1c1c;
	background-color: #e8dab0;
	border-radius: 0;
	margin-left: 0; 
	margin-right:5px;
	padding:0;
}

.tab-controls > li > a:focus, .tab-controls > li > a:hover,.tab-controls > li.active > a, .tab-controls > li.active > a:focus, .tab-controls > li.active > a:hover{
	color:#1d1c1c;
	background-color: #e87523;
}
.footer-nav > li > a:focus, .footer-nav > li > a:hover{
	background: transparent;
	border: none;
	text-decoration: underline;
}
.yellow{
	background-image: url("bg-yellow.png");
	padding:0;
}
.footer {
	    background-color: #4a4a4d;
	    background-image: url("bg-footer.png");
	    color: #fff;
	    font-size: 20px;
	    padding: 1% 0;
	   
	    text-align: center;
	}
.logo-container{
	height : 235px;
}
.heading{
	font-family: "ostrich";


}
.heading h1{
	
	font-size: 70px;
	padding-right:0;
}
.heading2 h1{
	
	font-size: 60px;
	padding-right:0;
}
.heading div{
	padding:0;
	margin-top: 25px;
}
.heading2 div{
	padding:0;
	margin-top: 25px;
}
#restaurante div,#discoteca div{
	margin-top:4px;
}
#restaurante, #discoteca{
	overflow: auto;
	height:165px;
}
.form-control{
	background-color:#eeeef2;
	border:none;
	border-radius: 0;
	font-size:35px;
	line-height:auto;
	height:auto;
}
.track3 {
    width: 10px;
    background: #dfdfe6;
    margin-right: 2px;
    /*border-radius: 10px;*/
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #dfdfe6; /* Browsers without rgba support */
    
}

.handle3 {
    width: 10px;
    right: 0;
    background: #909096;
   
    /*border-radius: 7px;*/
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
button.form-control{
	font-size:40px;
	line-height:auto;
	text-align: center;
	background-color:#F3B400;
}
textarea.form-control{
	background-color: #f4f4f5;
}
.breadcrumb{
	background-color: transparent;
	font-size: 25px;
	text-align: center;
}
.modal-content{
	background-color: #eaeaef;
}
.modal-header,.modal-body,.modal-footer{
	
	border:none;
}
.modal-header{
	padding: 15px 0;
}
.modal-header h2{
	background-color: #f8f8ff;
	font-weight: bolder;
	margin: 0;
	text-align: center;
}
img.selected{
	border: 2px solid #d9534f

}
#slots tr,#slots th{
	background-color: #f9f9f9;
	text-align: center;
}
#slots td{
	cursor: pointer;
}
strong{
	font-family: "ostrich-black";
	font-weight: normal;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-chevron-up {
    background-position: -288px -120px;
}
.icon-chevron-down {
    background-position: -313px -119px;
}
.form-yellow{
	padding:15px 15px 0;
	background-image: url("bg-yellow.png");
}
.form-yellow .form-control{
	background-color:#e8dab0;
	border:none;
	border-radius: 0;
	font-size:25px;
	line-height:auto;
	height:auto;
	margin-bottom: 25px;
}
.form-yellow .form-group {
    margin-bottom:0;
}
.form-yellow .img-responsive{
	margin:0 auto 10px;	

}
.form-yellow button.form-control{
	font-size:40px;
	line-height:auto;
	text-align: center;
	
}
/*.img-responsive{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}*/
.form-yellow .form-control{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.modal {
	position: absolute !important;
	overflow: auto !important;
}
.modal-backdrop{
	position: fixed !important;
}
.table-yellow{;
	padding:15px 15px 0;
	background-image: url("bg-yellow.png");
	overflow: auto;
	height:auto;
}
.table-striped > tbody > tr:nth-of-type(2n){
	background-color:#e8dab0;
}
.breadcrumb a {
	color:black;
	text-decoration:underline;
}

.logo-container-profile h1{
	font-size:45px;
	text-align: center;
	margin-bottom: 0px;
}
.logo-container-profile h2{
	font-size:35px;
	text-align: center;
	margin-top: 10px;
}
.reservation-details h1{
	font-size:50px;
	text-align: center;
	margin-bottom: 0px;
}
.reservation-details .form-control{
	
	font-size:25px;
	line-height:auto;
	height:auto;
	margin-bottom: 25px;
}
.reservation-details .address{
	font-size:25px;
	line-height:auto;
}
.restaurant-logo {
	margin-top:40px;
	margin-bottom: 40px;
	
}
.restaurant-logo img{
	margin:0 auto;
	max-width: 50%;
}
.profile-picture{
	margin-top: 40px;

}
.reservation-container h2 {
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
	font-size:35px;
}
.reservation-container h1 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size:45px;
}
.reservation-container .reservations{
	margin-top:5px;
	margin-bottom: 5px;
}
.reservation-wrapper{
	
	overflow: auto;
}
.reservations img{
	margin: 0 auto;
	  width: 160px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	cursor: pointer;
}
.ajax-button:disabled{
	background-color: #F3B400;
	border:none;
	font-weight: bold;
}
@media (min-width: 1001px) and (orientation: landscape){ 
	body, html {
	    height: 100%;
	}
	
	.footer {
	 text-align: left;
	}
	.content{
		height:90%;
		
	}
	.height100{
		height:100% !important;
	}
	.logo-container{
		margin-top:225px;
		height:auto;
	}
	.heading{
		height:25%;
	}
	.tab-controls{
		height:10%;
	}
	.tab-content{
		height:63%;
	}
	.footer{min-height: 10%}
	.heading h1{
		margin-top: 50px;
    	
	}
	.heading div{
		margin-top: 75px;
	}
	.heading2 h1{
		margin-top: 110px;
    	
	}
	.heading2 div{
		margin-top: 135px;
	}
	.breadcrumb{
		position:absolute;
		top:0;
		right:20px;
	}
	.form-yellow{
		margin-top: 100px;
		height:88%;
	}
	.table-yellow{
		margin-top: 100px;
		
		height:88%;
	}
	.logo-container-profile{
		margin-top: 40px;

	}
	.reservation-details{
		margin-top: 30px;
	}
	
	.reservation-container h2 {
		margin-top: 100px;
	}
	.reservation-wrapper{
		height: 65%;
	}
}