<!DOCTYPE html>
<html>
<head>
  <title>RestApp</title>
 
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link',:style =>""  %>
    <% end %>
 <%= javascript_include_tag "admin_main", 'data-turbolinks-track' => true %>
<%= yield %>

</body>
</html>
